
/* Navigation Section Style */
@font-face {
  font-family: "MyLogoFont";
  src: url("./fonts/QurovaDEMO-Bold-BF67a5c637eed62.otf");
}

@font-face {
  font-family: "MyNavLinkFont";
  src: url('./fonts/QurovaDEMO-Regular-BF67a5c637a5dc9.otf');
}

body, h1 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'MyLogoFont', sans-serif;
  font-size: 2em;
  line-height: 40px;
}

.navigation-container {
  font-family: 'MyNavLinkFont';
  padding: 10px;
  margin: 0;
  position: fixed;
  width: 100%;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: whitesmoke;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  margin: 0 20px;
}

.nav-links {
  list-style: none;
  padding: 0 10px;
}

.resume-btn, .contact-me-btn {
  font-family: 'MyNavLinkFont';
  margin: 0 5px;
  padding: 8px;
  color: whitesmoke;
  background-color: #434343;
  border: none;
  border-radius: 15px;
  line-height: 18px;
}

/* Hero Section Style */
    /* Button Tab */
.hero-container {
  height: 100vh;
  font-family: sans-serif;
  background-image: url('./images/website\ Background\ Cover.png');
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.mac-tab {
  width: 600px;
  height: 400px;
  background-color: white;
  border-radius: 8px;
  position: relative;
  top: 30%;
  left: 200px;
}

.mac-tab-container {
  display: flex;
  justify-content: start;
  background-color: rgb(174, 213, 246);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 0;
  padding: 0;
}

.tab-btn {
  display: flex;
  justify-content: start;
  margin: 3px 2px;
  padding: 0;
  font-size: 0.56em;
  cursor: pointer;
}

.close {
  background-color: red;
  padding: 0 3.5px;
  border: 0.5px solid gray;
  border-radius: 50%;
}

.min {
  background-color: yellow;
  padding: 0 3.5px;
  border: 1px solid gray ;
  border-radius: 50%;
}

.full {
  background-color: greenyellow;
  border: 1px solid gray ;
  padding: 0;
  border-radius: 50%;
}

/* Open Tab */

.open-tab {
  margin: 4px 0 0 4px;
  padding: 0;
  font-size: 0.56em;
  align-content: center;
  
}

.website-tab {
  border-top: 0.3px solid #ffff;
  border-right: 0.3px solid #ffff;
  border-left: 0.3px solid #ffff;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: white;
  color: #434343;
}

.close-icon-spn {
  margin-left: 10px;
  padding: 5px;
}

.fav-icon-spn {
  padding: 5px;
}

.new-tab {
  color: #434343;
}