
/* Navigation Section Style */
@font-face {
  font-family: "VT323Font";
  src: url("./fonts/VT323/VT323-Regular.ttf");
}

body, h1 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'VT323Font', sans-serif;
  font-size: 3em;
  line-height: 40px;
}

.navigation-container {
  font-family: 'VT323Font';
  padding: 10px;
  margin: 0;
  position: fixed;
  width: 100%;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: whitesmoke;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  margin: 0 20px;
}

.nav-links {
  list-style: none;
  padding: 0 10px;
}

.resume-btn, .contact-me-btn {
  font-family: 'VT323Font';
  margin: 0 5px;
  padding: 8px;
  color: whitesmoke;
  background-color: #434343;
  border: none;
  line-height: 18px;
}